[submodule ".vim/bundle/Tagbar"]
	path = .vim/bundle/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule ".vim/bundle/vim-surround"]
  path = .vim/bundle/vim-surround
  url = git://github.com/tpope/vim-surround.git
