[core]
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  st = status
  llog = log --graph --decorate --color --stat
  slog = log --oneline --color
  ch = checkout
  d = diff
  dc = diff --cached
  b = branch
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[remote "origin"]
  prune = true
